{% import "macros/forms.html" as forms %}
{% extends "base.html" %}
{% block content %}
  <h1>My Reviews</h1>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Title</th>
        <th>Score</th>
        <th>Date</th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      {% for review in reviews %}
      <tr>
        <td><a href="{{base_path}}/book/{{review.book_id}}">{{review.getTitle()}}</td>
        <td>{{review.score}}</td>
        <td>{{review.reviewed}}</td>
        <td><a href="{{base_path}}/review/edit/{{review.id}}" class="btn btn-info btn-sm">Edit</a></td>
        <td>{{forms.destroy_button("#{base_path}/review/#{review.id}/destroy")}}</td>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}