{% macro destroy_button(action, text) %}
  <form method="post" action="{{action}}" style="display: inline-block;">
    <button type="submit" class="btn btn-danger btn-sm">{{text|default('Delete')}}</button>
  </form>
{% endmacro %}

{% macro basic_form_template(action, label1, label2, value1, value2, name1, name2, buttonText) %}
  <form method="post" action="{{action}}">
    <div class="form-group">
      <label>{{label1}}</label>
      <input type="text" name={{name1}} class="form-control" value="{{value1}}">
    </div>

    <div class="form-group">
      <label>{{label2}}</label>
      <input type="text" name={{name2}} class="form-control" value="{{value2}}">
    </div>
    
    <div class="form-group">
      <button type="submit" class="btn btn-primary">{{buttonText}}</button>
    </div>
  </form>
{% endmacro %}

{% macro user_info_form(action, value, buttonText) %}
  <form method="post" action="{{action}}">
    <div class="form-group">
      <label>Username</label>
      <input type="text" class="form-control" name="username" value="{{value}}">
    </div>

    <div class="form-group">
      <label>Password</label>
      <input type="password" class="form-control" name="password">
    </div>

    <div class="form-group">
    	<button type="submit" class="btn btn-primary">{{buttonText}}</button>
	</div>
  </form>
{% endmacro %}

{% macro review_form(action, hiddenValue, reviewScore, textField) %}
  <form method="post" action="{{action}}">
    <div id="hidden_form_container" style="display:none;">
    	<input name="book_id" value="{{hiddenValue}}">
  	</div>
      <div class="form-group">
        <label>Score</label>
        {% for i in range(1, 5) %}
  	    <label class="radio-inline">
          {% if reviewScore == i or i == 1 %}
            <input type="radio" name="score" id="inlineRadio{{i}}" value="{{i}}" checked="checked"> {{i}}
          {% else %}  
            <input type="radio" name="score" id="inlineRadio{{i}}" value="{{i}}"> {{i}}
          {% endif %}
  		  </label>
  		{% endfor %}
    </div>

    <div class="form-group">
      <label>Review</label>
      	<textarea class="form-control" rows="3" name="review">{{textField|default('')}}</textarea>
    </div>
    
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
{% endmacro %}