{% extends 'base.html' %}
{% block content %}
<h1>Books</h1>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Rating</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        {% for book in books %}
        <tr>
            <td><a href="{{base_path}}/book/{{book.id}}">{{book.title}}</td>
            <td>{{book.author}}</td>
            <td>{{book.getRating()}}</td>
            <td>
                <form method="post" action="{{base_path}}/mybook" style="display: inline-block;">
                    <div id="hidden_form_container" style="display:none;">
                        <input name="title" value="{{book.title}}">
                        <input name="author" value="{{book.author}}">
                    </div>
                    <button type="submit" class="btn btn-success btn-sm">Add</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}