{% import "macros/forms.html" as forms %}
{% extends "base.html" %}
{% block content %}
  <h1>Add a new book</h1>

  <form method="post" action="{{base_path}}/mybook">
    <div class="form-group">
      <label>Title</label>
      <input type="text" name="title" class="form-control" value="{{attributes.title}}">
    </div>

    <div class="form-group">
      <label>Author</label>
      <input type="text" name="author" class="form-control" value="{{attributes.author}}">
    </div>
    
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Add</button>
    </div>
  </form>
{% endblock %}