{% extends "base.html" %}
{% block content %}
  <h1>Your reading list</h1>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Status</th>
        <th>Added</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      {% for book in books %}
      <tr>
        <td><a href="{{base_path}}/book/{{book.book_id}}">{{book.title}}</td>
        <td>{{book.author}}</td>
        <td>
          {% if book.status == 1 %}
            <label class="label label-success">Read</label>
          {% else %}
            <label class="label label-danger">Unread</label>
          {% endif %}
        </td>
        <td>{{book.added}}</td>
        <th><a class="btn btn-default btn-sm" href="{{base_path}}/review/new">Rate</a></th>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <p>
    <a href="{{base_path}}/mybook/add_book" class="btn btn-success">Add a book to your list</a>
  </p>
{% endblock %}