{% extends "base.html" %}
{% block content %}
<h1>Your reading list</h1>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Status</th>
            <th>Added</th>
            <th></th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        {% for book in books %}
        <tr>
            <td><a href="{{base_path}}/book/{{book.book_id}}">{{book.getTitle()}}</td>
            <td>{{book.getAuthor()}}</td>
            <td>
                {% if book.status == 1 %}
<!--                 <label class="label label-success">Read</label> -->
                <form method="post" action='#' style="display: inline-block;">
                    <button type="buttn" class="btn btn-success btn-sm" disabled="disabled">Read</button>
                </form>
                {% else %}
                <!-- <label class="label label-danger">Unread</label> -->
                <form method="post" action="{{base_path}}/mybook/status/{{book.id}}" style="display: inline-block;">
                    <button type="submit" class="btn btn-danger btn-sm">Unread</button>
                </form>
                {% endif %}
            </td>
            <td>{{book.added}}</td>
            <td><a class="btn btn-default btn-sm" href="{{base_path}}/review/new/{{book.book_id}}">Rate</a></td>
            <td>
                <form method="post" action="{{base_path}}/mybook/destroy/{{book.id}}" style="display: inline-block;">
                    <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<p>
    <a href="{{base_path}}/mybook/add_book" class="btn btn-success">Add a book to your list</a>
</p>
{% endblock %}